<body>
<div class="nav-item">
<h1> Профиль </h1>
<div class="home-buttons">
<%= link_to "Вход", new_user_registration_path, class:"Вход" %>
<% if current_user %>
    <%= link_to "Выход", destroy_user_session_path, 'data-turbo-method': :delete, class:"Выход"%>
</div>
</div>
<hr/> 

<div class="profile-title"> 
<p> <span>Welcome</span> <%= current_user.username %>
    </p> 
</div>
<div class="profile_content">  
    <p>
        <span>Your email:</span>  
        <%= current_user.email %>
    </p> 
      
    <p>
        <span>First name:</span>  
        <%= current_user.first_name %>
    </p> 
      
    <p>
        <span>Last name:</span>  
        <%= current_user.last_name%>
    </p> 
      
    <p>
        <span>User role:</span>   
        <%= current_user.role%>
    </p> 
     
    <p>
        <span>Created:</span>  
        <%= current_user.created_at%>
    </p> 
     
    <p>
        <span>Updated:</span>  
        <%= current_user.updated_at%>
    </p> 
     
    <% end %> 
    <%= link_to "Edit Account", edit_user_registration_path, class:"edit"%> 
     <%if current_user&.admin? %>
    <%= link_to "My Products", products_path() %>
    <%end%> 
</div>





    
</body>